## Demonstrating KDtrees 
(loaded from lib/KDTreeEncoding)

In [1]:
%pwd

'/Users/yoavfreund/projects/Poverty_Analysis/KD-trees'

In [2]:
%pylab inline
from numpy import load
from lib.KDTreeEncoding import *
from glob import glob

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [3]:
#Store location of current home directory
current=%pwd
#current

In [4]:
## List image files
_dir='/Users/yoavfreund/datasets/poverty_v1.1/anon_images/'
files=glob(f'{_dir}*.npz')
len(files), files[:3]

(19669,
 ['/Users/yoavfreund/datasets/poverty_v1.1/anon_images/image18941.npz',
  '/Users/yoavfreund/datasets/poverty_v1.1/anon_images/image19487.npz',
  '/Users/yoavfreund/datasets/poverty_v1.1/anon_images/image6978.npz'])

## Train the tree on the files in "files"

In [5]:
%%time
train_size,tree=train_encoder(files[:100],tree_depth=7)

used 100 images to train KDTree
KDTree training data shape= (5017600, 8)
CPU times: user 1.42 s, sys: 138 ms, total: 1.56 s
Wall time: 1.65 s

## Print out a part of the tree

In [6]:
tree.print(tree.root.below.below,level=4)

00: size=1215491 index=6, threshold=   0.09
001: size=607773 index=0, threshold=  -0.77
000: size=607718 index=7, threshold=  -0.22
0011: size=303890 index=3, threshold=  -0.17
0010: size=303883 index=4, threshold=  -0.91
0001: size=303861 index=0, threshold=  -0.60
0000: size=303857 index=6, threshold=  -0.50
00111: size=152026 index=6, threshold=   0.43
00110: size=151864 index=2, threshold=  -0.63
00101: size=152173 index=4, threshold=  -0.67
00100: size=151710 index=0, threshold=  -1.13
00011: size=151975 index=0, threshold=  -0.36
00010: size=151886 index=5, threshold=  -0.18
00001: size=151949 index=6, threshold=  -0.24
00000: size=151908 index=4, threshold=  -0.42

In [7]:
table='../public_tables/train.csv'
!head $table

,filename,country,wealthpooled,urban,label,nl_mean
1,image7716.npz,21,-1.0900524854660034,False,0,-0.0976840257644653
4,image603.npz,21,1.4540644884109497,True,1,11.082343101501465
5,image1199.npz,21,1.70844566822052,True,1,12.646743774414062
6,image2826.npz,21,1.701109528541565,True,1,5.055367469787598
7,image6082.npz,21,1.5477131605148315,True,1,12.907397270202637
8,image13809.npz,21,1.5924626588821411,True,1,13.152287483215332
9,image9062.npz,21,1.7062891721725464,True,1,13.142542839050291
11,image5804.npz,21,0.9911735653877258,True,0,6.250482082366943
12,image15372.npz,21,1.166226148605347,True,0,6.056130409240723

In [8]:
current

'/Users/yoavfreund/projects/Poverty_Analysis/KD-trees'

In [9]:
import pandas as pd

T=pd.read_csv(f'{current}/{table}')
T

,Unnamed: 0,filename,country,wealthpooled,urban,label,nl_mean
0,1,image7716.npz,21,-1.090052,False,0,-0.097684
1,4,image603.npz,21,1.454064,True,1,11.082343
2,5,image1199.npz,21,1.708446,True,1,12.646744
3,6,image2826.npz,21,1.701110,True,1,5.055367
4,7,image6082.npz,21,1.547713,True,1,12.907397
...,...,...,...,...,...,...,...
10905,19664,image9030.npz,5,1.159348,True,0,1.005626
10906,19665,image11611.npz,5,1.268232,True,0,0.895127
10907,19666,image12646.npz,5,1.506693,True,1,1.183905
10908,19667,image17629.npz,5,1.882921,True,1,0.515834
10909,19668,image4199.npz,5,1.880099,True,1,0.844067

In [10]:
rural_5=pd.DataFrame(T[(T['country']==5) & (T['urban']==False)])
rural_5.head(2)

,Unnamed: 0,filename,country,wealthpooled,urban,label,nl_mean
10327,18876,image1149.npz,5,-0.467258,False,1,-0.173862
10328,18877,image6388.npz,5,-0.714008,False,0,-0.173862

In [11]:
rural_5['rich']=rural_5['wealthpooled']>-0.5
rural_5.index=rural_5.filename
rural_5.head()

,Unnamed: 0,filename,country,wealthpooled,urban,label,nl_mean,rich
filename,,,,,,,,
image1149.npz,18876,image1149.npz,5,-0.467258,False,1,-0.173862,True
image6388.npz,18877,image6388.npz,5,-0.714008,False,0,-0.173862,False
image15364.npz,18889,image15364.npz,5,-0.628777,False,0,-0.173862,False
image10130.npz,18908,image10130.npz,5,0.937543,False,1,0.029008,True
image3478.npz,18911,image3478.npz,5,-0.117946,False,1,-0.172251,True

In [12]:
rural_5.shape,_dir

((342, 8), '/Users/yoavfreund/datasets/poverty_v1.1/anon_images/')

In [13]:
%%time
EC=encoded_dataset(_dir[:-1],rural_5,tree)

CPU times: user 3.73 s, sys: 470 ms, total: 4.2 s
Wall time: 4.5 s

In [14]:
EC.data.shape

(342, 513)

## the encoding an image
Is a binary tree represented as key value pairs where the key is the path to the node and the value is the log ratio between the number of +'s and the number of -'s.

In [15]:
EC.codes[0]

[('', 0.0),
 ('1', 0.37188955736508245),
 ('11', -0.941323134112017),
 ('111', -3.5834675471865407),
 ('1111', -13.355853415684358),
 ('1110', -2.890104905658549),
 ('11101', -6.268021571623163),
 ('11100', -2.2133173372545887),
 ('111001', -5.286211349772571),
 ('111000', -1.5433000509412007),
 ('1110001', -11.277996523037412),
 ('1110000', -0.8470441836736723),
 ('11100001', -1.602212422437765),
 ('11100000', -0.41655280345653184),
 ('110', -0.2843565915933632),
 ('1101', 0.12396935816284474),
 ('11011', -0.03942246334540363),
 ('110111', -3.9031794493170913),
 ('110110', 0.6438741443754606),
 ('1101101', -3.4212298562104304),
 ('1101100', 1.3334196814343142),
 ('11011001', 1.1210592014041916),
 ('11011000', 1.5163410760311724),
 ('11010', 0.2645229106037751),
 ('110101', -2.6316304336364946),
 ('110100', 0.930166418131718),
 ('1101001', 1.2192290512115884),
 ('11010011', 1.7546194393987349),
 ('11010010', -0.014559779403770805),
 ('1101000', 0.5213107351624641),
 ('11010001', 0.27939401368451894),
 ('11010000', 0.7954279195622633),
 ('1100', -0.9869897575625597),
 ('11001', -0.5869009113536396),
 ('110011', -3.9033307228480885),
 ('110010', 0.08932986445364478),
 ('1100101', 0.5279812373460051),
 ('11001011', -0.39142469339203784),
 ('11001010', 0.9999903225525452),
 ('1100100', -0.7118495286050921),
 ('11001001', -4.186442103162882),
 ('11001000', -0.034172883370012716),
 ('11000', -1.6658109592294326),
 ('110001', -11.970279946578206),
 ('110000', -0.9703123257471997),
 ('1100001', -0.9422026749935575),
 ('11000011', -10.778500363798903),
 ('11000010', -0.2455582760227548),
 ('1100000', -1.0155255538859522),
 ('11000001', -0.44628501852985564),
 ('11000000', -2.4750854695636555),
 ('10', 0.9291869128422282),
 ('101', -1.3479324381249715),
 ('1011', -0.6805169298973579),
 ('10111', -0.15367383933838616),
 ('101111', -0.3473324225002258),
 ('1011111', -0.0706911264267284),
 ('10111111', 0.10099515031892485),
 ('10111110', -0.2791683012167695),
 ('1011110', -0.7319939676150279),
 ('10111101', -4.1712536165264025),
 ('10111100', -0.053487830807246825),
 ('101110', 0.009185219104717307),
 ('1011101', -1.711445704883608),
 ('1011100', 0.6090273454711126),
 ('10111001', -2.158120063500714),
 ('10111000', 1.2980355177358425),
 ('10110', -1.8632967042076565),
 ('101101', -3.0442130984928992),
 ('101100', -1.3365297243019227),
 ('1011001', -3.563259557465419),
 ('1011000', -0.6987401277132008),
 ('10110001', -0.5962446126775691),
 ('10110000', -0.8131175033890798),
 ('1010', -4.32756558307467),
 ('100', 1.5703267938461238),
 ('1001', 1.5395486553273798),
 ('10011', 2.0993834541594665),
 ('100111', 1.3257955235298615),
 ('1001111', 0.3436886971069694),
 ('10011111', 0.7864965537653111),
 ('10011110', -0.4708075221418721),
 ('1001110', 1.8124899578571867),
 ('10011101', 1.9380020136789458),
 ('10011100', 1.6688364899755788),
 ('100110', 2.5305962572823226),
 ('1001101', 1.8083036557647423),
 ('10011011', 1.108185652072871),
 ('10011010', 2.2187706873846005),
 ('1001100', 2.9456787492491623),
 ('10011001', 2.3632286001069387),
 ('10011000', 3.3127111596338112),
 ('10010', 0.14669931663218674),
 ('100101', 0.5430672838541445),
 ('1001011', -0.8332484327760193),
 ('10010111', -1.521963160046502),
 ('10010110', -0.4282622142283068),
 ('1001010', 1.1098719444384917),
 ('10010101', 1.4654990314700065),
 ('10010100', 0.5525698400100127),
 ('100100', -0.5199971443347089),
 ('1001001', -4.583675643634348),
 ('1001000', 0.17114040601761343),
 ('10010001', 0.7083639136119096),
 ('10010000', -1.074383372889339),
 ('1000', 1.6004895746228214),
 ('10001', 1.3512163689677916),
 ('100011', 1.9021076035551496),
 ('1000111', 2.404395935320674),
 ('10001111', 2.126600446862279),
 ('10001110', 2.622347755074474),
 ('1000110', 0.8317916489318412),
 ('10001101', 0.46272306876317143),
 ('10001100', 1.1215768848176801),
 ('100010', 0.012825402758896386),
 ('1000101', -2.69696658313936),
 ('1000100', 0.7516820535091003),
 ('10001001', 0.22493320842449327),
 ('10001000', 1.0974220158038954),
 ('10000', 1.7998675533630302),
 ('100001', 1.5423878694663546),
 ('1000011', -0.0819115346846887),
 ('10000111', 0.5167244123489989),
 ('10000110', -1.7997516149945119),
 ('1000010', 2.136957232713872),
 ('10000101', 2.4456093909871925),
 ('10000100', 1.678122527342794),
 ('100000', 2.2551257762011137),
 ('1000001', 2.6570347816780253),
 ('10000011', 2.5565323806526923),
 ('10000010', 2.7511562641176157),
 ('1000000', 1.5717217059133832),
 ('10000001', 1.6308662685570143),
 ('10000000', 1.5084605456893154),
 ('0', -0.5987211475486032),
 ('01', -1.3667464361765003),
 ('011', -0.7916934995946943),
 ('0111', -3.3560244711688103),
 ('01111', -2.6632089886516783),
 ('011111', -2.327998100729012),
 ('011110', -3.170976694973151),
 ('01110', -12.684784348930757),
 ('0110', -0.13572214410226285),
 ('01101', 0.3518469808375209),
 ('011011', -0.5484548201130899),
 ('0110111', -0.01291606821551008),
 ('01101111', -0.38717896691232384),
 ('01101110', 0.258803743059147),
 ('0110110', -1.7907805879984422),
 ('011010', 0.838637592144243),
 ('0110101', 1.3018115293591181),
 ('01101011', 1.3462909080173375),
 ('01101010', 1.2552223672252338),
 ('0110100', -0.05454872491810199),
 ('01101001', -0.5600556551427405),
 ('01101000', 0.2801878251629482),
 ('01100', -1.1262135328455103),
 ('011001', -0.8638803029272119),
 ('0110011', -1.9998274036568677),
 ('0110010', -0.3443750662750182),
 ('01100101', -1.5044843717727396),
 ('01100100', 0.17873713931651342),
 ('011000', -1.4880538117477262),
 ('0110001', -0.7956735984303632),
 ('01100011', -0.17908724435492648),
 ('01100010', -2.733706939573393),
 ('0110000', -11.28747990381846),
 ('010', -2.8689103760995733),
 ('0101', -2.1952349292244246),
 ('01011', -1.71675759265126),
 ('010111', -2.354915104078028),
 ('010110', -1.247309170950975),
 ('0101101', -1.247309170950975),
 ('01011011', -0.9646938505541334),
 ('01011010', -1.6428420693827759),
 ('0101100', 0.0),
 ('01010', -3.152133633895054),
 ('0100', -6.134299346722789),
 ('00', -0.1474060488374502),
 ('001', -1.3402661934810742),
 ('0011', -1.144015267202535),
 ('00111', -0.6445250671773562),
 ('001111', -3.0793981787316764),
 ('001110', 0.0051639974804343),
 ('0011101', -0.7013014110358846),
 ('00111011', -0.7290944350787363),
 ('00111010', -0.6741806693836069),
 ('0011100', 0.41781003531458455),
 ('00111001', -0.851433536608067),
 ('00111000', 0.9630937366228779),
 ('00110', -2.1897458285768665),
 ('001101', -1.5300297490216355),
 ('0011011', -1.2039074805207133),
 ('00110111', -1.4375860052513039),
 ('00110110', -1.0108693096895056),
 ('0011010', -2.0246870421228795),
 ('001100', -5.018400414706146),
 ('0010', -1.584674930371184),
 ('00101', -0.9474753805483661),
 ('001011', -0.6408630996673739),
 ('0010111', -0.7894657003304452),
 ('00101111', -0.5052275574463795),
 ('00101110', -1.1885714367982052),
 ('0010110', -0.5112377795704888),
 ('00101101', -1.584517380320219),
 ('00101100', -0.004961086373683635),
 ('001010', -1.392314334311701),
 ('0010101', -1.8466505964516524),
 ('0010100', -1.0809645283657092),
 ('00101001', -3.640077124478719),
 ('00101000', -0.42451553629904415),
 ('00100', -3.82789960571818),
 ('000', 0.38128549804713907),
 ('0001', 0.8179440356616826),
 ('00011', 0.25847119898340565),
 ('000111', -1.1420487192909394),
 ('0001111', -0.5008448341589489),
 ('00011111', -0.13934389316076637),
 ('00011110', -1.079718230391796),
 ('0001110', -3.4631410560136593),
 ('000110', 0.8289358874631814),
 ('0001101', 1.1633607573424405),
 ('00011011', -0.261772569972896),
 ('00011010', 1.7290816727619223),
 ('0001100', 0.32136695461378484),
 ('00011001', 0.9828864013996468),
 ('00011000', -2.462342258223689),
 ('00010', 1.174736251896608),
 ('000101', -0.7824356989657524),
 ('0001011', -0.29090776185585554),
 ('00010111', -0.2806283552151979),
 ('00010110', -0.301286156918167),
 ('0001010', -1.8155709870730676),
 ('000100', 1.8045955183460063),
 ('0001001', 2.1729424849893415),
 ('00010011', 2.608577088169127),
 ('00010010', 1.383292155301769),
 ('0001000', 1.2130910428930197),
 ('00010001', 0.3290288596995118),
 ('00010000', 1.6758078610792628),
 ('0000', -0.4117600220600333),
 ('00001', 0.08904479706143162),
 ('000011', 0.36147691969556295),
 ('0000111', -0.8005945805387596),
 ('00001111', -0.21248335935714535),
 ('00001110', -2.415329854096706),
 ('0000110', 0.8861966433071531),
 ('00001101', 1.3060389725342567),
 ('00001100', 0.14860182288154888),
 ('000010', -0.2869559303518962),
 ('0000101', -1.3291110676007252),
 ('00001011', -0.857369674524341),
 ('00001010', -2.2544300301202633),
 ('0000100', 0.21599704106831366),
 ('00001001', 0.745111037420813),
 ('00001000', -1.0023958055230837),
 ('00000', -1.4622180404411727),
 ('000001', -1.5575144182165537),
 ('0000011', -2.385008781083736),
 ('0000010', -1.1103031179354066),
 ('00000101', -1.4402238628821271),
 ('00000100', -0.8619566979670316),
 ('000000', -1.3751980879390209),
 ('0000001', -2.355920711915247),
 ('0000000', -0.8896908476021075),
 ('00000001', -0.2165797646069019),
 ('00000000', -4.145555827769054)]

## The tree encodes each images into a fixed length array

In [16]:
EC.data.shape

(342, 513)